// COLORS
$dark: #3d3d3d;
$darkblue: #2b3467;
$lightblue: #bad7e9;
$mildred: #eb455f;
$mildyellow: #fcffe7;
$lightgray: #e6e6e6;

// CONTAINER
$container_width: 1200px;
$container_padding: 10px;

// ADAPTIVE
@media (max-width: 768px) {
	$my-container_padding: 10px;
}
