.imageList {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;

	flex-direction: column;
	height: 1200px;
}

// FIXME
.imageItem {
	position: relative;
	width: calc(100% / 3 - 5px);

	border-radius: 7px;
	overflow: hidden;
	cursor: pointer;

	img {
		display: block;
		width: 100%;
	}

	&Info {
		opacity: 0;
		padding: 10px;

		display: flex;
		align-items: end;
		justify-content: space-between;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;

		width: 100%;
		height: 100%;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.7) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		transition: opacity 0.3s ease;

		&:hover {
			opacity: 1;

			.Author {
				top: 0;
			}

			.Likes {
				top: 0;
			}
		}
	}
}

.Author {
	position: relative;
	top: 50px;
	transition: all 0.2s ease;

	display: flex;
	gap: 7px;
	align-items: end;

	img {
		border-radius: 3px;
		width: 30px;
		height: 30px;
	}

	h6 {
		font-size: 20px;
		font-weight: 600;
		color: #ffffff;
	}
}

.Likes {
	position: relative;
	top: 50px;
	transition: all 0.2s ease;

	padding: 5px;
	border-radius: 3px;
	background-color: #ffffff;

	display: flex;
	align-items: center;
	gap: 7px;

	svg {
		height: 20px;
		width: 20px;
	}

	span {
		font-size: 18px;
		font-weight: 500;
	}
}
