@import '../../styles/variables';

.header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: #ffffff;

	&Content {
		padding: 10px 0;
		display: flex;
		gap: 20px;
		align-items: center;

		@media (max-width: 400px) {
			gap: 7px;
		}
	}

	&Image {
		display: block;

		img {
			height: 50px;
		}

		@media (max-width: 700px) {
			flex-grow: 1;

			img {
				height: 35px;
			}
		}
	}

	&Nav {
		margin-left: 10px;
		flex-grow: 1;
		background-color: #f5f5f5;
		display: flex;
		align-items: center;
		gap: 15px;
		padding: 7px 7px 7px 20px;
		border-radius: 10px;

		@media (max-width: 700px) {
			display: none;
		}
		@media (max-width: 800px) {
			padding-left: 7px;
		}
	}

	&Links {
		display: flex;
		gap: 15px;

		@media (max-width: 800px) {
			display: none;
		}
	}

	&Underline {
		display: flex;
		align-items: center;
		height: 15px;
		background-color: $darkblue;
		color: #ffffff;
		font-weight: 100;

		@media (max-width: 700px) {
			display: none;
		}
	}
}

.link {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: $dark;
}

%authItem {
	display: flex;
	align-items: center;
	gap: 3px;

	svg {
		width: 20px;
		height: 20px;
		fill: $dark;
		color: $dark;
	}

	@media (max-width: 400px) {
		span {
			font-size: 12px;
		}
	}
}

.account {
	@extend %authItem;
	gap: 10px;
	margin-right: -10px;

	img {
		border-radius: 3px;
		width: 25px;
		height: 25px;
	}
}

.login {
	@extend %authItem;
	padding: 5px;
	border-radius: 3px;
	background-color: $darkblue;

	span {
		color: white;
	}

	svg {
		width: 20px;
		height: 20px;
		fill: white;
	}

	&:active {
		opacity: 0.8;
	}
}

.registration {
	@extend %authItem;
	margin-right: -10px;
}
