@import '../../styles/variables';

.input {
	position: relative;
	flex-grow: 1;
	display: flex;

	svg {
		position: absolute;
		top: 50%;
		left: 10px;
		transform: translateY(-50%);
		fill: #c9c9c9;
		z-index: 100;
	}

	input {
		width: 100%;
		padding: 5px 5px 5px 30px;
		background: #ffffff;
		border-radius: 5px 0 0 5px;
		border: 2px solid #ffffff;

		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		color: $dark;
		line-height: 18px;
		letter-spacing: 1px;

		&::placeholder {
			color: #c9c9c9;
		}

		&:focus {
			outline: none;
			border-color: $dark;

			& + svg {
				fill: $dark;
			}
		}
	}
}

.searchButton {
	background: $mildred;
	padding: 5px 15px;
	border-radius: 0 5px 5px 0;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	border: none;
	cursor: pointer;

	&:active {
		opacity: 0.8;
	}
}

.result {
	padding: 10px;
	width: 100%;
	position: absolute;
	top: calc(100% + 7px);
	z-index: 100;

	border-radius: 5px;
	color: $dark;
	background-color: #ffffff;

	-webkit-box-shadow: 4px 4px 8px 0px rgba(45, 45, 45, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(45, 45, 45, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(45, 45, 45, 0.2);

	h2 {
		color: $lightgray;
		font-size: 12px;
	}
}

.item {
	border-radius: 3px;
	padding: 3px 5px;
	cursor: pointer;
	transition: all 0.2s ease;

	&:hover {
		background-color: $lightgray;
	}
	&.focus {
		background-color: $lightgray;
	}
}
